[submodule "RpdPatcher/curriculum-parser"]
	path = RpdPatcher/curriculum-parser
	url = https://github.com/resueman/curriculum-parser.git
[submodule "curriculum-parser"]
	path = curriculum-parser
	url = https://github.com/resueman/curriculum-parser.git
